apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: volmetd
  labels:
    app.kubernetes.io/name: volmetd
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["list"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["list"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: volmetd
  labels:
    app.kubernetes.io/name: volmetd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: volmetd
subjects:
  - kind: ServiceAccount
    name: volmetd
    namespace: volmetd
